.header {
    text-align: center;
    h1 {
        margin: 30px auto;
        font-size: 3em;
    /* this means:
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    */
    }
}
.navigation { 
    display: flex;
    margin: auto;
    max-width: 800px;
    & > * {
        font-size: 1.5em;
        flex-grow: 1;
    }
    /* to select active links, we need the global .active class */
    :global(.active) {
        text-decoration: underline;
    }
}
