.header {
    text-align: center;
    h1 {
        margin: 30px auto;
        font-size: 3em;
        font-weight: 500;
    }
}
.navigation { 
    display: flex;
    margin: auto;
    max-width: 800px;
    & > * {
        font-size: 1.5em;
        flex-grow: 1;
    }
    /* to select active links, we need the global .active class */
    :global(.active) {
        text-decoration: underline;
        font-style: italic;
    }
}
